<%= form_for(@user, :url=>url_for(:controller=>'users', :action=>'create'), html: {class: 'form-horizontal'}) do |f| %>
	<% if @user.errors.any? %>
		<div class="alert alert-error fade in">
			<button class="close" data-dismiss="alert" type="button"> &times; </button>
			<%= pluralize(@user.errors.count, "error") %>
			prohibited this user from being saved:
			<ul>
				<% @user.errors.full_messages.each do |msg| %>
					<li><%= msg %></li>
				<% end %>
			</ul>
		</div>
	<% end %>

	<div class="formFormat">
		<h1>Registration</h1>
		<table width="100%">
			<thead>
				<tr>
					<th colspan="2"><h3>General Information</h3></th>
				</tr>
			</thead>
			<tfoot>
				<tr>
					<td colspan="2">
						<%= f.submit %>
					</td>
				</tr>		
			</tfoot>
			<tbody>
				<tr>
					<td><%= f.label :user_type %></td>
					<td>
						<%= f.radio_button(:user_type, "i", :html => {:checked=>"true", :onchange=>"checkUserType()"}) %> Individual
						<%= f.radio_button(:user_type, "c", :html => {:onchange=>"checkUserType()"}) %> Corporation
					</td>
				</tr>
				<tr>
					<td><%= f.label :first_name %></td>
					<td>
						<%= f.text_field :first_name %>
					</td>
				</tr>
				<tr id="surnameRow">
					<td><%= f.label :last_name %></td>
					<td><%= f.text_field :last_name %></td>
				</tr>
				<tr id="genderRow">
					<td><%= f.label :sex %></td>
					<td>
						<%= f.radio_button(:sex, "m") %> Male
						<%= f.radio_button(:sex, "f") %> Female
					</td>
				</tr>
				<tr id="dobRow">
					<td><%= f.label :birthday %></td>
					<td><input type="date" name="birthday"></td>
				</tr>
				<tr id="idRow">
					<td><%= f.label :citizen_id %></td>
					<td><%= f.text_field :citizen_id %></td>
				</tr>
				<tr>
					<td><%= f.label :phone %></td>
					<td><%= f.text_field :phone %></td>
				</tr>
				<tr>
					<td><%= f.label :email %></td>
					<td><%= f.text_field :email %></td>
				</tr>
				<tr>
					<td><%= f.label :username %></td>
					<td><%= f.text_field :username %></td>
				</tr>
				<tr>
					<td><%= f.label :password %></td>
					<td><%= f.password_field :password %></td>
				</tr>
				<tr>
					<td><%= f.label :password_confirmation %></td>
					<td><%= f.password_field :password_confirmation %></td>
				</tr>
				<tr>
					<td><%= f.label :address %></td>
					<td>
						<%= f.text_area :address %>
					</td>
				</tr>
				<tr>
					<td><%= f.label :province %></td>
					<td>
						<%= f.text_field :province %>
					</td>
				</tr>
				<tr>
					<td>Other Information</td>
					<td><textarea rows="4" cols="200"></textarea></td>
				</tr>
				<tr>
					<td>Picture</td>
					<td><input type="file" name="picFile"></td>
				</tr>
			</tbody>
		</table>
	</div>
<% end %>

