<h1><%=t :signup %></h1>

<%= simple_form_for(@user, html: {class: 'form-horizontal'}, :validate => true, :url=>url_for(:controller=>'users', :action=>'create')) do |f| %>

	<%= f.input :first_name %>
	<%= f.input :last_name %>
	<%= f.input :username %>
	<%= f.input :password %>
	<%= f.input :password_confirmation %>
	<%= f.input :email %>
	<%= f.association :user_type, as: :radio_buttons, label_method: lambda { |el| t "#{el.name}"} %>
	<%= f.association :sex, as: :radio_buttons, label_method: lambda { |el| t "#{el.name}"} %>
	<%= f.input :phone %>
	<%= f.input :citizen_id %>
	<%= f.input :birthday, as: :string, :input_html => { :'data-behaviour' => 'datepicker'} %>
	<%= f.input :address, input_html: {rows: "3"} %>
	<%= f.input :personal_info, input_html: {rows: "3"} %>

	<!-- upload picture -->

	<div class="form-actions">
		<%= f.button :submit, class: 'btn btn-primary' %>
	</div>
<% end %>