<div class="row">
	<div class="span12">
		<h1><%=t :welcome %> <span class="brand">HoorayJob</span></h1>		
		<h2><%=t :marketing_word %></h2>
		<button class="btn btn-warning"> <%=t :tryit %> </button>
	</div>
</div>

<div class="row">
	<div class="span12">
		<h2><%=t :all_posts %></h2>
		<ul>
			<% @posts.each do |post| %>
				<li><%= post.formatted_post %></li>
			<% end %>
		</ul>
	</div>
</div>