<!DOCTYPE html>
<html>
<head>
  <title>Hoorayjob - the sexy way to discover & subscribe job </title>
  <%= stylesheet_link_tag    "application", :media => "all" %>
  <%= javascript_include_tag "application" %>
  <%= csrf_meta_tags %>
  <%= yield(:head) %>
</head>
<body>

	<div class="container">
		<a href="/">
			<h1 class="brand">HoorayJob</h1>	
		</a>
	</div>
	

	<%= yield(:noncontainer) %>
	<div class="container">
		<% flash.each do |name, msg| %>
			<div id="alert-area">
				<div class="alert-message alert fade in alert-<%= name == :notice ? 'success' : 'error'%>" data-alert="alert">
					<button class="close" data-dismiss="alert" type="button"> &times;</button>
					<%= msg %>
				</div>
			</div>
		<% end %>

		<%= yield %>
	</div>
	</body>
</html>
