!!!
%html
	%head
		%title Hoorayjob - #{t :title_marketing_word}
		= stylesheet_link_tag    "application", :media => "all" 
		= javascript_include_tag "application" 
		/[if IE]
			%link{href: "/stylesheets/ie-hoorayjob.css", media: "screen", rel: "stylesheet", type: "text/css"}
		= csrf_meta_tags 
		:javascript
			I18n.defaultLocale = "#{I18n.default_locale}"
			I18n.locale = "#{I18n.locale}"
		
		= yield(:head) 

	%body
		= yield(:noncontainer)
		- if user_signed_in?
			- container_class = "signed-in"
		.container{class: "#{container_class}"}
			.content
				%header
					.row
						#left-aside
							%a{:href => "/", :class => "main-logo"}
						
						#right-aside
							#login
								- if user_signed_in?
									.user-signed-in
										%h4 #{t :welcome} #{current_user.first_name} #{current_user.last_name}
										%a.button.btn-user-profile{href: "#"} #{t :profile}
										%a.button.btn-sign-out{href: "#{signout_path}"} #{t :signout}
								- else
									= form_tag("/signin", :method=>"post") do 
										.username
											%h3 #{t :username}
											%input{type: 'text', name: 'username'}
										.password
											%h3 #{t :password}
											%input{type: "password", name: "password"}
										%button #{t :signin}

							- unless user_signed_in?
								#registration
									%h1  #{t :registration}
									= simple_form_for(@user, html: {class: 'signup-form'}, validate: true, url: url_for(:controller=>'users', :action=>'create')) do |f| 
										.controls
											%input#user_firstname{name: 'user[firstname]', placeholder: I18n.t(:fullname), size: "50", type: "text", maxlength:"25"}
										.controls
											%input#user_username{name: 'user[username]', placeholder: I18n.t(:username_english_only), size: "50", type: "text", maxlength:"12"}
											#user_username_message.help-block{class:"hide"}
										= image_tag("LoadingIcons/Loading.gif", alt: "Loading", id: "loading-icon", class: "hide") 
										= image_tag("LoadingIcons/Yes.png", alt: "Valid", id: "yes-icon", class: "hide") 
										= image_tag("LoadingIcons/No.png", alt: "Invalid", id: "no-icon", class: "hide") 
										= f.input :password, label: false, placeholder: "รหัสผ่าน" 
										= f.input :password_confirmation, label: false, placeholder: "ยืนยันรหัสผ่านอีกครั้ง" 
										.form-actions
											%button.btn-highlight{name: "commit", type: "submit"} #{t :register}

					= yield(:header)
						
				= yield

				%footer
					.contact-info
						%span
						%span #{t :contact_us} HOORAYjob.com
						%br           
						%span #{t :email}: hooray@email.com #{t :tel}: 080-123-4567
					.footer-logo
