<!DOCTYPE html>
<html>
<head>
  <title>Hoorayjob - <%=t :title_marketing_word %> </title>
  <%= stylesheet_link_tag    "application", :media => "all" %>
  <%= javascript_include_tag "application" %>
  <%= csrf_meta_tags %>
  <%= yield(:head) %>
</head>
<body>

	<div class="navbar navbar-fixed-top">
		<div class="navbar-inner">
			<div class="container">
				<a href="/" class="brand">HoorayJob</a>
				<form class="navbar-search pull-left">
					<input type="text" class="input-small search-query" placeholder="<%=t :search %>">
				</form>
				<% unless user_signed_in? %>
					<%= form_tag("/signin", :method=>"post", :class=>'navbar-form pull-right') do %>
						<input type="text" name="username" class="input input-small" placeholder="<%=t :username %>">
						<input type="password" name="password" class="input input-small" placeholder="<%=t :password %>">
						<button class="btn btn-small"><%=t :signin %></button> 
						<div>
							<small>
								<%=t :not_member %> <%= link_to t(:signup), signup_path %>
							</small>
						</div>
					<% end %>
				<% else %>
					<ul class="nav pull-right">
						<li class="dropdown">
							<a href="#" class="pointer dropdown-toggle" data-toggle="dropdown" role="button" data-target="#">
								<i class="icon-user"></i>
								<small><%= current_user.username %></small>
								<b class="caret"></b>
							</a>
							<ul class="dropdown-menu">
								<li>
									<a href=""><%=t :edit_profile %></a>
								</li>
								<li class="divider"></li>
								<li>
									<%= link_to t(:signout), signout_path %>
								</li>
							</ul>
						</li>
					</ul>
				<% end %>
			</div>
		</div>
	</div>

	<%= yield(:noncontainer) %>
	<div class="container">
		<% flash.each do |name, msg| %>
			<div id="alert-area">
				<div class="alert-message alert fade in alert-<%= name == :notice ? 'success' : 'error'%>" data-alert="alert">
					<button class="close" data-dismiss="alert" type="button"> &times;</button>
					<%= msg %>
				</div>
			</div>
		<% end %>

		<%= yield %>
	</div>
	</body>
</html>
