!!!
%html
	%head
		%title Hoorayjob - #{t :title_marketing_word}
		= stylesheet_link_tag    "application", :media => "all" 
		= javascript_include_tag "application" 
		= csrf_meta_tags 
		= yield(:head) 

	%body
		= yield(:noncontainer)

		.container
			.content
				%header
					#left-aside
						.main-logo
					
					#right-aside
						#login
							- if user_signed_in?
								%h3 #{t :welcome} #{current_user.first_name} #{current_user.last_name}
								%button ข้อมูลส่วนตัว
								%a.button{:href => "#{signout_path}"} #{t :signout}
								/ = link_to t(:signout), signout_path, 
							- else
								= form_tag("/signin", :method=>"post") do 
									.username
										%h3 #{t :username}
										%input{type: 'text', name: 'username'}
									.password
										%h3 #{t :password}
										%input{type: "password", name: "password"}
									%button #{t :signin}

						- unless user_signed_in?
							#registration
								%h1 สมัครสมาชิก
								%input{type: "text", name: "fullname", placeholder: "ชื่อ นามสกุล"}
								%input{type: "text", name: "username", placeholder: "ชื่อเพื่อเข้าระบบ (ภาษาอังกฤษ)"}
								%input{type: "password", name: "password", placeholder: "รหัสผ่าน"}
								%input{type: "password", name: "password", placeholder: "ยืนยันรหัสผ่านอีกครั้ง"}
								%button.btn-highlight ยืนยันการสมัคร
						
				= yield

				%footer
					.contact-info
						%span
						%span ติดต่อเรา HOORAYjob.com
						%br						
						%span อีเมล์: hooray@email.com โทร: 080-123-4567
					.footer-logo
				
		
