!!!
%html
	%head
		%title Hoorayjob - #{t :title_marketing_word}
		= stylesheet_link_tag    "application", :media => "all" 
		= javascript_include_tag "application" 
		/[if IE]
			%link{href: "/stylesheets/ie-hoorayjob.css", media: "screen", rel: "stylesheet", type: "text/css"}
		= csrf_meta_tags 
		= yield(:head) 

	%body
		= yield(:noncontainer)
		- if user_signed_in?
			- container_class = "signed-in"
		.container{class: "#{container_class}"}
			.content
				%header
					.row
						#left-aside
							%a{:href => "/", :class => "main-logo"}
						
						#right-aside
							#login
								- if user_signed_in?
									.align-center
										%h3 #{t :welcome} #{current_user.first_name} #{current_user.last_name}
										%a.button{href: "#"} ข้อมูลส่วนตัว
										%a.button{href: "#{signout_path}"} #{t :signout}
								- else
									= form_tag("/signin", :method=>"post") do 
										.username
											%h3 #{t :username}
											%input{type: 'text', name: 'username'}
										.password
											%h3 #{t :password}
											%input{type: "password", name: "password"}
										%button #{t :signin}

							- unless user_signed_in?
								#registration
									%h1 สมัครสมาชิก
									= simple_form_for(@user, html: {class: 'form-horizontal'}, validate: true, url: url_for(:controller=>'users', :action=>'create')) do |f| 
										= f.input :first_name, label: false, placeholder: "ชื่อ นามสกุล" 
										= f.input_field :username, label: false, placeholder: "ชื่อเพื่อเข้าระบบ (ภาษาอังกฤษ)" 
										= image_tag("LoadingIcons/Loading.gif", alt: "Loading", class: "loadingIcon hide", height: "15", width:"15") 
										= f.input :password, label: false, placeholder: "รหัสผ่าน" 
										= f.input :password_confirmation, label: false, placeholder: "ยืนยันรหัสผ่านอีกครั้ง" 
										.form-actions
											%button.btn-highlight{name: "commit", type: "submit"} ยืนยันการสมัคร

									/ %input{type: "text", name: "fullname", placeholder: "ชื่อ นามสกุล"}
									/ %input{type: "text", name: "username", placeholder: "ชื่อเพื่อเข้าระบบ (ภาษาอังกฤษ)"}
									/ %input{type: "password", name: "password", placeholder: "รหัสผ่าน"}
									/ %input{type: "password", name: "password", placeholder: "ยืนยันรหัสผ่านอีกครั้ง"}
									/ %button.btn-highlight ยืนยันการสมัคร

					= yield(:header)
						
				= yield

				%footer
					.contact-info
						%span
						%span ติดต่อเรา HOORAYjob.com
						%br           
						%span อีเมล์: hooray@email.com โทร: 080-123-4567
					.footer-logo
				
		
