<!DOCTYPE html>
<html>
<head>
  <title>Hoorayjob - <%=t :title_marketing_word %> </title>
  <%= stylesheet_link_tag    "application", :media => "all" %>
  <%= javascript_include_tag "application" %>
  <%= csrf_meta_tags %>
  <%= yield(:head) %>
</head>
<body>

	<div class="container">
			<div class="content">
				<header>
					<div id="left-aside">
						<div class="main-logo"></div>
					</div>
					<div id="right-aside">
						<div id="login">
							<div class="username">
								<h3>ชื่อเข้าระบบ</h3>
								<input type="text" name="username">
							</div>
							<div class="password">
								<h3>รหัสผ่าน</h3>
								<input type="password" name="password">
							</div>
							<button>เข้าสู่ระบบ</button>
						</div>
						<div id="registration">
							<h1>สมัครสมาชิก</h1>
							<input type="text" name="fullname" placeholder="ชื่อ นามสกุล">
							<input type="text" name="username" placeholder="ชื่อเพื่อเข้าระบบ (ภาษาอังกฤษ)">
							<input type="password" name="password" placeholder="รหัสผ่าน">
							<input type="password" name="password" placeholder="ยืนยันรหัสผ่านอีกครั้ง">
							<button class="btn-highlight">ยืนยันการสมัคร</button>
						</div>
					</div>
				</header>
				<div class="post-filter">
					<h2>เลือกประเภทงาน</h2>
					<div class="options">
						<div>
							<input id="post-all" type="checkbox">
							<label for="post-all"></label>
							<label for="post-all">ทั้งหมด</label>
							<!-- <span class="small">ทั้งหมด</span> -->
						</div>
						<div>
							<input id="post-maid" type="checkbox">
							<label for="post-maid"></label>
							<label for="post-maid">แม่บ้าน/พ่อบ้าน</label>
						</div>
						<div>
							<input id="post-helper" type="checkbox">
							<label for="post-helper"></label>
							<label for="post-helper">พี่เลี้ยงเด็ก-คนชรา</label>
						</div>
						<div>
							<input id="post-shop" type="checkbox">
							<label for="post-shop"></label>
							<label for="post-shop">พนักงานประจำร้าน</label>
						</div>
						<div>
							<input id="post-else" type="checkbox">
							<label for="post-else"></label>
							<label for="post-else">อื่นๆ</label>
						</div>
						<button class="btn-search">ค้นหา</button>
					</div>
				</div>
				<div id="post-container" style="height: 525px;">
					<div id="post-category">
						<div id="post-category-group">
							<div id="post-category-selection" class="all"></div>
							<a id="category-left" class="active" href="#">แสดงประกาศทั้งหมด</a>
							<a id="category-right" href="#">เฉพาะคนที่กำลังหางาน</a>
							<center>
								<a id="category-center" href="#">เฉพาะงานจากนายจ้าง</a>
							</center>
							<div id="post-category-selection-bar" class="all"></div>
						</div>
					</div>
					<div id="post-contents">

						<div class="post-post">
							<div class="post-icon"></div>
							<div class="post-text">
									<a href="#" class="post-title">หาพนักงานทำความสะอาดบ้าน ย่านสุขุมวิท ต้องการไปกลับ รายได้ดี ไม่จำเป็นต้องมีประสบการณ์ ต้องการเฉพาะผู้หญิงเท่านั้น หาพนักงานทำความสะอาดบ้าน ย่านสุขุมวิท ต้องการไปกลับ รายได้ดี ไม่จำเป็นต้องมีประสบการณ์</a>
									<div class="post-suffix">
										<i class="post-suffix-icon wage-icon"></i>
										<span class="post-wage">12,000 บาท ต่อเดือน</span>
										<i class="post-suffix-icon tel-icon"></i>
										<span class="post-tel">080-123-4567</span>
										<i class="post-suffix-icon contact-icon"></i>
										<a href="#" class="post-contact">คุณ เก่ง ชัยชาญ</a>
									</div>
							</div>
						</div>

						<div class="post-post">
							<div class="post-icon"></div>
							<div class="post-text">
									<a href="#" class="post-title">หาพนักงานทำความสะอาดบ้าน ย่านสุขุมวิท ต้องการไปกลับ รายได้ดี ไม่จำเป็นต้องมีประสบการณ์ ต้องการเฉพาะผู้หญิงเท่านั้น</a>
									<div class="post-suffix">
										<i class="post-suffix-icon wage-icon"></i>
										<span class="post-wage">12,000 บาท ต่อเดือน</span>
										<i class="post-suffix-icon tel-icon"></i>
										<span class="post-tel">080-123-4567</span>
										<i class="post-suffix-icon contact-icon"></i>
										<a href="#" class="post-contact">คุณ เก่ง ชัยชาญ</a>
									</div>
							</div>
						</div>

						<div class="post-post">
							<div class="post-icon"></div>
							<div class="post-text">
									<a href="#" class="post-title">หาพนักงานทำความสะอาดบ้าน ย่านสุขุมวิท ต้องการไปกลับ รายได้ดี ไม่จำเป็นต้องมีประสบการณ์ ต้องการเฉพาะผู้หญิงเท่านั้น</a>
									<div class="post-suffix">
										<i class="post-suffix-icon wage-icon"></i>
										<span class="post-wage">12,000 บาท ต่อเดือน</span>
										<i class="post-suffix-icon tel-icon"></i>
										<span class="post-tel">080-123-4567</span>
										<i class="post-suffix-icon contact-icon"></i>
										<a href="#" class="post-contact">คุณ เก่ง ชัยชาญ</a>
									</div>
							</div>
						</div>

						<div class="post-post">
							<div class="post-icon"></div>
							<div class="post-text">
									<a href="#" class="post-title">หาพนักงานทำความสะอาดบ้าน ย่านสุขุมวิท ต้องการไปกลับ รายได้ดี ไม่จำเป็นต้องมีประสบการณ์ ต้องการเฉพาะผู้หญิงเท่านั้น</a>
									<div class="post-suffix">
										<i class="post-suffix-icon wage-icon"></i>
										<span class="post-wage">12,000 บาท ต่อเดือน</span>
										<i class="post-suffix-icon tel-icon"></i>
										<span class="post-tel">080-123-4567</span>
										<i class="post-suffix-icon contact-icon"></i>
										<a href="#" class="post-contact">คุณ เก่ง ชัยชาญ</a>
									</div>
							</div>
						</div>


						


					</div>
				</div>
				<footer>
					<div class="contact-info">
						<span>ติดต่อเรา HOORAYjob.com</span>
						<br />
						<span>อีเมล์: hooray@email.com โทร: 080-123-4567</span>
					</div>
					<div class="footer-logo"></div>
				</footer>
			</div>
		</div>
		<script type="text/javascript">
			$( 
				function(){ 
					console.log("test")
					$("#category-left").hover(
						function(){
							console.log("123")
							$("#post-category-selection-bar").removeClass()
							$("#post-category-selection-bar").addClass("all")
						},restorFilterSelectionBar);
					$("#category-center").hover(
						function(){
							$("#post-category-selection-bar").removeClass()
							$("#post-category-selection-bar").addClass("only-job")
						},restorFilterSelectionBar);
					$("#category-right").hover(
						function(){
							$("#post-category-selection-bar").removeClass()
							$("#post-category-selection-bar").addClass("only-employee")
						},restorFilterSelectionBar);

					$("#category-left").click(
						function(){
							$("#category-right").removeClass("active")
							$("#category-center").removeClass("active")
							$("#category-left").removeClass("active")
							$("#category-left").addClass("active")
							setFilterSelection("all")
							return false
						});
					$("#category-center").click(
						function(){
							$("#category-right").removeClass()
							$("#category-center").removeClass()
							$("#category-left").removeClass()
							$("#category-center").addClass("active")
							setFilterSelection("only-job")
							return false
						});
					$("#category-right").click(
						function(){
							$("#category-right").removeClass()
							$("#category-center").removeClass()
							$("#category-left").removeClass()
							$("#category-right").addClass("active")
							setFilterSelection("only-employee")
							return false
						});
				 });

				function setFilterSelection( filter )
				{
					$("#post-category-selection").removeClass()
					$("#post-category-selection-bar").removeClass()
					$("#post-category-selection").addClass(filter)
					$("#post-category-selection-bar").addClass(filter)
				}

				function restorFilterSelectionBar()
				{
					$("#post-category-selection-bar").removeClass()
					$("#post-category-selection-bar").addClass( $("#post-category-selection").attr("class") )
				}

		</script>

		
<!-- 		<%= yield %> -->
</body>
</html>
